@charset "UTF-8";

/* =========================
1 - Style Basics
============================ */
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-verde: #117050;
    --font-oswald: 'Oswald', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

header .line{
    background-color: var(--cor-verde);
    height: 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.green-bar{
    background-color: var(--cor-verde);
    width: 168px;
    height: 22px;
}

h1{
    display: inline-block;
    font: 700 6rem/110px var(--font-oswald);
    margin: 100px 0px 40px 0px;
}

h2{
    display: inline-block;
    text-transform: capitalize;
    font: 700 3rem/50px var(--font-oswald);
    margin-top: 30px;
}

a{
    text-decoration: none !important;
}

.button-learnMore{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    letter-spacing: 1px;
}

.button-learnMore:hover{
    background-color: #454545;
    color: #fff;
}

/* =========================
2 - Header
============================ */
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-right,
.header-right .search form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .search input{
    font-size: 16px;
    padding: 10px 13px;
    border: 1px solid #999;
    outline: 0px;
    width: 100%;
    max-width: 200px;
    letter-spacing: 0.3px;
}

.header-right .search button{
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-menu{
    margin-left: 60px;
}

.header-menu img{
    cursor: pointer;
}
/* =========================
3 - Hero
============================ */
#hero.hero-banner{
    background: url('../images/bg.jpg') no-repeat center/cover;
    position: relative;
    height: auto;
}

.hero-images{
    margin-top: 60px;
    display: inline-block;
}
.hero-images img{
    border: 6px solid var(--cor-verde);
    border-radius: 50%;
    margin-bottom: 100px;
}

.hero-images picture:nth-child(1){
    margin-right: 30px;
}

.hero-images picture:nth-child(3){
    margin-left: 30px;
}
/* =========================
4 - AREA 1
============================ */
.area1-container{
    display: grid;
    grid-template-areas: 
        "content image2"
        "image1 image2"
    ;
    grid-template-columns: 1fr 1fr;
}

.area1-content{
    grid-area: content;
    padding: 80px;
}

.area1-content .cite{
    margin-top: 30px;
}

.area1-content .text{
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 25px;
}

.area1-image1{
    grid-area: image1;
    background: url(../images/f2.jpg) no-repeat center/cover;
    height: 350px;
    background-color: green;
}

.area1-image2{
    grid-area: image2;
    background: url(../images/f1.jpg) no-repeat center/cover;
    background-color: red;
}
/* =========================
5 - AREA 2
============================ */
.area2-container{
    display: grid;
    grid-template-areas: 
        "image4 content"
        "image4 image3"
    ;
    grid-template-columns: 1fr 1fr;
}

.area2-image3{
    grid-area: image3;
    background: url(../images/f4.jpg) no-repeat center/cover;
    height: 450px;
    background-color: green;
}

.area2-image4{
    grid-area: image4;
    background: url(../images/f3.jpg) no-repeat center/cover;
    background-color: red;
}
/* =========================
6 - AREA 3
============================ */
.area3-container{
    display: grid;
    grid-template-areas: 
        "content image-right"
    ;
    grid-template-columns: 1fr 1fr;
    background: url(../images/bg2.jpg) no-repeat left/cover;
}

.area3-content{
    padding-top: calc(80px + 200px) ;
    padding-bottom: calc(80px + 200px) ;
}
.area3-image-right{
    grid-area: image-right;
    background: url(../images/f5.jpg) no-repeat center/cover;

}
/* =========================
7 - AREA 4
============================ */
.area4-container{
    display: grid;
    grid-template-areas: 
        "content image-right"
    ;
    grid-template-columns: 500px 1fr;
}

.area4-content{
    background-color: #e8e9ee;
    padding: 150px 80px 150px 150px;
}

.area4-image{
    grid-area: image-right;
    background: url(../images/bg3.jpg) no-repeat left/cover;
}
/* =========================
8 - Footer
============================ */
footer{
    background-color: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
}

footer a{
    color: #00ffaa;
}
/* =========================
x - Resposivity 
============================ */

@media (width <= 1140px){
    .container{
        padding: 0px 20px;
    }
}

@media (width > 450px) and (width <= 768px){
    .area1-container,
    .area2-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .area1-image2,
    .area2-image4{
        display: none;
    }
    .area4-container{
        display: grid;
        grid-template-areas: 
            "content"
            "image-right"
        ;
        grid-template-columns: 1fr;
    }
    .area4-image{
        grid-area: image-right;
        background: url(../images/bg3.jpg) no-repeat center/cover;
        height: 500px;
    }
    .area4-content{
        padding: 80px;
    }
}

@media (width <= 450px){
    .header-right .search input{
        display: none;
    }
    .area1-container,
    .area2-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .area1-image2,
    .area2-image4{
        display: none;
    }
    .area4-container{
        display: grid;
        grid-template-areas: 
            "content"
            "image-right"
        ;
        grid-template-columns: 1fr;
    }
    .area4-image{
        grid-area: image-right;
        background: url(../images/bg3.jpg) no-repeat center/cover;
        height: 500px;
    }
    .area1-content,
    .area2-content,
    .area3-content,
    .area4-content{
        padding: 80px 30px;
    }
    .area3-container{
        display: grid;
        grid-template-areas: 
            "content"
            "image-right"
        ;
        grid-template-columns:1fr;
        background: url(../images/bg2.jpg) no-repeat  left top/cover;
    }
    
    .area3-content{
        padding-top: calc(80px + 100px) ;
        padding-bottom: calc(80px + 100px) ;
    }

    
    h1{
        font-size: 55px;
        line-height: 60px;
    }
    
    h2{
        font-size: 40px;
    }
    
    #hero.hero-banner{
        height: auto;
        background: none;
    }
    
    .hero-images{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    
    .hero-images img{
        border: 6px solid var(--cor-verde);
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-bottom: 0;
    }
    
    .hero-images picture:nth-child(1){
        margin-right: 0px;
    }
    
    .hero-images picture:nth-child(3){
        margin-left: 0px;
    }
    
    .area1-image1{
        background: url(../images/f2-500px.jpg) no-repeat center/cover;
    }
    .area2-image3{
        background: url(../images/f4-500px.jpg) no-repeat center/cover;
    }
    .area3-container{
        background: url(../images/bg2-400px.jpg) no-repeat left/cover;
    }
    .area3-image-right{
        height: 700px;
        background: url(../images/f5-500px.jpg) no-repeat center/cover;
    }
}