@charset "UTF-8";

/* =========================
1 - Style Basics
============================ */
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-verde: #117050;
    --font-oswald: 'Oswald', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

header .line{
    background-color: var(--cor-verde);
    height: 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.green-bar{
    background-color: var(--cor-verde);
    width: 168px;
    height: 22px;
}

h1{
    display: inline-block;
    font: 700 6rem/110px var(--font-oswald);
    margin: 100px 0px 40px 0px;
}

h2{
    display: inline-block;
    text-transform: capitalize;
    font: 700 3rem/50px var(--font-oswald);
    margin-top: 30px;
}

a{
    text-decoration: none !important;
}

.button-learnMore{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    letter-spacing: 1px;
}

.button-learnMore:hover{
    background-color: #454545;
    color: #fff;
}

/* =========================
2 - Header
============================ */
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-right,
.header-right .search form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .search input{
    font-size: 16px;
    padding: 10px 13px;
    border: 1px solid #999;
    outline: 0px;
    width: 100%;
    max-width: 200px;
    letter-spacing: 0.3px;
}

.header-right .search button{
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-menu{
    margin-left: 60px;
}

.header-menu img{
    cursor: pointer;
}
/* =========================
3 - Hero
============================ */
#hero.hero-banner{
    background: url('../images/bg.jpg') no-repeat center right/cover;
    position: relative;
    height: calc(100dvh - 110px);
}

.hero-images{
    margin-top: 60px;
    display: inline-block;
}
.hero-images img{
    border: 6px solid var(--cor-verde);
    border-radius: 50%;
    margin-bottom: 100px;
}

.hero-images img:nth-child(1){
    margin-right: 30px;
}

.hero-images img:nth-child(3){
    margin-left: 30px;
}
/* =========================
4 - AREA 1
============================ */
.area1-container{
    display: grid;
    grid-template-areas: 
        "content image2"
        "image1 image2"
    ;
    grid-template-columns: 1fr 1fr;
}

.area1-content{
    grid-area: content;
    padding: 80px;
}

.area1-content .cite{
    margin-top: 30px;
}

.area1-content .text{
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 25px;
}

.area1-image1{
    grid-area: image1;
    background: url(../images/f2.jpg) no-repeat center/cover;
    height: 350px;
    background-color: green;
}

.area1-image2{
    grid-area: image2;
    background: url(../images/f1.jpg) no-repeat center/cover;
    background-color: red;
}
/* =========================
5 - AREA 2
============================ */
.area2-container{
    display: grid;
    grid-template-areas: 
        "image4 content"
        "image4 image3"
    ;
    grid-template-columns: 1fr 1fr;
}

.area2-image3{
    grid-area: image3;
    background: url(../images/f4.jpg) no-repeat center/cover;
    height: 450px;
    background-color: green;
}

.area2-image4{
    grid-area: image4;
    background: url(../images/f3.jpg) no-repeat center/cover;
    background-color: red;
}
/* =========================
6 - AREA 3
============================ */
.area3-container{
    display: grid;
    grid-template-areas: 
        "content image-right"
    ;
    grid-template-columns: 1fr 1fr;
    background: url(../images/bg2.jpg) no-repeat left/cover;
}

.area3-content{
    padding-top: calc(80px + 200px) ;
    padding-bottom: calc(80px + 200px) ;
}
.area3-image-right{
    grid-area: image-right;
    background: url(../images/f5.jpg) no-repeat center/cover;
    background-color: green;
}

/* =========================
x - Resposivity 
============================ */

@media (width <= 1140px){
    .container{
        padding: 0px 10px;
    }
}