@charset "UTF-8";

/* =========================
1 - Style Basics
============================ */
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-verde: #117050;
    --font-oswald: 'Oswald', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

header .line{
    background-color: var(--cor-verde);
    height: 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}

/* =========================
2 - Header
============================ */
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-right,
.header-right .search form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .search input{
    font-size: 16px;
    padding: 10px 13px;
    border: 1px solid #999;
    outline: 0px;
    width: 100%;
    max-width: 200px;
    letter-spacing: 0.3px;
}

.header-right .search button{
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-menu{
    margin-left: 60px;
}

.header-menu img{
    cursor: pointer;
}
/* =========================
3 - Hero
============================ */
#hero.hero-banner{
    background: url('../images/bg.jpg') no-repeat center right/cover;
    position: absolute;
    height: calc(100dvh - 110px);
    top: 110px;
    right: 0;
    left: 0;
}

.hero-banner .container h1{
    display: inline-block;
    font: 700 6rem/110px var(--font-oswald);
    margin: 100px 0px 40px 0px;
}

.hero-images{
    margin-top: 60px;
    display: inline-block;
}
.hero-images img{
    border: 6px solid var(--cor-verde);
    border-radius: 50%;
    margin-bottom: 100px;
}

.hero-images img:nth-child(1){
    margin-right: 30px;
}

.hero-images img:nth-child(3){
    margin-left: 30px;
}
/* =========================
x - Resposivity 
============================ */

@media (width <= 1140px){
    .container{
        padding: 0px 10px;
    }
}